<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Painel</title>
</head>
<body>

    <div class="painel">
        <h1>Bem vindo ao painel</h1>

        <a class="botao" href="/deposito">
            Depósito
        </a>

        <a class="botao" href="/saque">
            Saque
        </a>

        <a class="botao" href="/lista">
            Ver Detalhes
        </a>
    </div>

</body>